<html>
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Título da página</h1>
    <hr/>

        Olá {{ user.name }} {{ user.lastname }}, tudo bem?
    {{#showOld}}
        Como vai a vida?
    {{/showOld}}
    {{^showOld}}
        Beleza?
    {{/showOld}}

    <hr/>

    <h2>Produtos</h2>

    <ul>
        {{#products}}
            <li>{{ title }} - R$ {{ price }}</li>
        {{/products}}
    </ul>

    <hr/>

    <ul>
        {{#frases}}
            <li>{{ . }}</li>
        {{/frases}}
        {{^frases}}
            Não há frases motivacionais hoje.
        {{/frases}}
    </ul>

</body>
</html>