<html>
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Título da página</h1>
    <hr/>

    {{#showWelcome}}
        Olá {{ user.name }} {{ user.lastname }}, tudo bem?
    {{/showWelcome}}

    {{#showOld}}
        Como vai a vida?
    {{/showOld}}
</body>
</html>